# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv
venv/
ENV/
env/

# Frontend
node_modules/
dist/
dist-ssr/
*.local

# Editor folders
.vscode/
.idea/

# OS files
.DS_Store

# Guardian specific
.env
chroma_db/
scratch/
